body {
    background-color: rgb(167, 147, 194);
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.box {
    font-family: 'Noto Sans JP', sans-serif;
    width: 200px;
    height: 100px;
    border: 3px solid black;
    line-height: 100px;
    font-size: 50px;
    cursor: pointer;
}
.category {
    font-family: 'Noto Sans JP', sans-serif;
    width: 200px;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
}
.black{
    background-color: black;
}

#modal, #modalTwo {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}
#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	padding: 2px;
	line-height: 120%;
	font-family: Arial, Helvetica, sans-serif;
}
#modal-footer{
	text-align: right;
}